.content {
    color: #fff;
    text-align: justify;
    background-image: url(/img/img-fundo.jpg);
}

.content p {
    margin-left: 2%;
    width: 80%;
    font-size: 20px;
}

.content h1 {
    margin-left: 2%;
    width: 80%;

}

figcaption {
    font-size: 15px;
    font-weight: 300;
    width: fit-content;
    margin: auto;
    color: #fff;
    margin-top: 10px;
    margin-left: 5%;
}

.card {
    width: 300px;
}

.nav-item a {
    font-size: 20px;
    color: #fff;
}

.nav-item a:hover {
    font-size: 21px;
    color: #000000;
}